<ion-content [fullscreen]="true">
  <ion-card class="card">
    <div class="center-div">
      <form #f1="ngForm">
        <ion-item>
          <ion-label position="floating" translate>User name</ion-label>
          <ion-input
            type="text"
            name="user"
            [(ngModel)]="userLogin"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" translate>Senha</ion-label>

          <ion-input
            name="password"
            [(ngModel)]="password"
            required
            [type]="password"
          >
          </ion-input>
        </ion-item>

        <ion-button
          *ngIf="btnEnabled && !adLogin"
          expand="block"
          [disabled]="!f1.valid"
          type="submit"
          translate
          (click)="login()"
          >Login
        </ion-button>
        <ion-button expand="block" (click)="goToRegister()"
          >Registrar</ion-button
        >

        <ion-button class="j-button" *ngIf="!btnEnabled" expand="block">
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>
      </form>
    </div>
  </ion-card>
</ion-content>
